*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ### Primary  */
    --Green-200-lighter: hsl(148, 38%, 91%); 
    --Green-600-medium: hsl(169, 82%, 27%); 
    --Red: hsl(0, 66%, 54%); 
    /* ### Neutral  */
    --White: hsl(0, 0%, 100%); 
    --Grey-500-medium: hsl(186, 15%, 59%); 
    --Grey-900-darker: hsl(187, 24%, 22%);
}
html{
    font-size: 62.5%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-color: var(--Green-200-lighter);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--Grey-900-darker);
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: white;
    min-width: 90%;
    margin-top: 10rem;
    padding: 2rem;
    border-radius: 12px;
    gap: 1.2rem;
}
label{
    font-size: 1.6rem;
}
h1{
    font-size: 3rem;
    font-weight: 600;
}
.text-box{
    outline: none;
    width: 100%;
    border: 1px solid var(--Grey-500-medium);
    border-radius: 4px;
    padding: 1rem .8rem;
    margin-top: .5rem;
    transition:  border-color 200ms ease-in-out;
}

.text-box:hover{
    border-color:var(--Green-200-lighter);
}
.text-box:active,
.text-box:focus{
    outline: 1px solid var(--Green-600-medium);
}
#user-message{
    height: 64vw;
    overflow: auto;
    resize: none;
    /* background-color: red; */
}
#query-type{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}
.radio-btn-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    padding: .8rem 1.6rem;
    width: 100%;
    border: 1px solid var(--Grey-500-medium);
    text-wrap: nowrap;
}

.related-content-wrapper{
    margin-top: 1.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.consent-area {
    flex-direction: column;
    /* stack items vertically */
    align-items: flex-start;
    /* left-align everything */
    gap: .5rem;
}
.checkbox-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}

.submit-btn{
    margin-top: 2.4rem;
    font-size: 1.6rem;
    width: 100%;
    padding: 1.6rem 0;
    border-radius: 6px;
    border: none;
    color: var(--White);
    background-color: var(--Green-600-medium);
    transition: background-color 200ms ease-in-out;
}

.submit-btn:hover{
    background-color: hsl(169, 80%, 20%);
}

.submit-btn:active{
    background-color: hsl(169, 54%, 77%);
}


.sent-msg-card{
    visibility: hidden; /* To be changed using JS */
    position: absolute;
    background-color: var(--Grey-900-darker);
    color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 8px;
    margin-top: 1rem;
    opacity: 0; /* To be changed using JS */
    transition: opacity 400ms ease-in; 
}
.sent-msg-card p{
    line-height: 2;
}
.msg-sent-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .6rem;
    font-size: 1.2rem;
}
.error-msg {
    flex-basis: 100%;
    color: var(--Red);
    font-size: 1.4rem;
    margin-top: .5rem;
}

.double-column-wrapper{
    width: 100%;
}

.important-star{
    color: var(--Green-600-medium);
}

footer{
    margin: 2rem 2rem;
}

.author-name{
    color: var(--Green-200-lighter);
    background-color: var(--Grey-900-darker);
    padding: .5rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: transform 200ms ease-in-out;
}

.author-name:hover{
    cursor: pointer;
    transform: scale(1.2);
}